*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #343441;
    color: #FFFFFF;
    height: 80vh;
    padding: 1rem;
}

h1{
    display: inline;
}

#game-container{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 100%;
    border: 1px black double;
}

.tap-buttons{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: radial-gradient(white 60%,rgb(198, 198, 198) );

    transition: all 200ms;
}
.tap-buttons:active{
    transition: all 200ms;
    background: radial-gradient(rgb(255, 19, 19) 60%,rgb(200, 30, 30) ) !important;
}
.tap-buttons::before{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
}
.tap-buttons:hover{
    transition: all 200ms;
    background: radial-gradient(rgb(242, 255, 0) 60%,rgb(200, 30, 30) );
    cursor: pointer;
}
.hide-tap-button{
    z-index: -1;
    opacity: 50%;
}

.show-tap-button{
    z-index: 1;
    opacity: 100%;
    border: 0.5rem black solid;
}

/*UTILITY CLASSES*/
.button-design{
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 0.5rem;
    width: 3rem;
    height: 1.5rem;
    cursor: pointer;
}