*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #343441;
    color: #FFFFFF;
    width: 100vw;
    min-width: 1000px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#home-screen{
    height: 100%;
    width: 80%;
    border: 0.5rem white double;
    border-top: transparent;
    border-bottom: transparent;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

#title{
    text-align: center;
    margin: 5rem;
}
h1{
    font-size: 5rem;
}

#start-button{
    color: white;
    width: 10rem;
    height: 4rem;
    background-color: tomato;
    border: 1px black solid;
    border-radius: 10px;
    margin: 5rem;
    font-size: 2rem;
    cursor: pointer;
}

.changing-color{
    animation-name: colorChanging;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

#difficulty-container{
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: auto;

    column-gap: 0.5rem;
}

.difficulty-box{
    display: flex;
    border: 1px black solid;
    padding: 0.5rem;
}

.difficulty-box label{
    font-family: monospace;
    margin-left: 0.5rem;
}

.small-padding{
    padding: 0.5rem;
}

#easy-box{
    background-color: palegreen;
    color: black;
}
#normal-box{
    background-color: paleturquoise;
    color: black;
}
#hard-box{
    background-color: red;
    color: white;
    font-weight: bold;
}
@keyframes colorChanging {
    0%{
        color: red;
    }
    25%{
        color: yellow;
    }
    50%{
        color: lightgreen;
    }
    75%{
        color: cyan;
    }
    100%{
        color: blue;
    }
}

@media (max-width: 758px){
    body{
        min-width: unset;
    }

    #title{
        text-align: center;
        margin: 5rem;
        font-size: 1rem;
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 1em;
    }
    #start-button{
        margin: 5rem;
        margin-bottom: 20rem !important;
    }
    #difficulty-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;

    row-gap: 0.5rem;
}
}